<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Hero Section -->
  <section class="hero">
    <!-- Main heading of the section -->
    <h1>The Ultimate App of Jokes!</h1>
    <!-- Secondary -->
    <h2>Get ready to laugh!</h2>
    <!-- 1px line to dive content -->
    <div class="divider"></div>
    <p>Explore online for yourself, generate a random joke, and save your favorite jokes!</p>
    <ion-button [routerLink]="['/tabs/tab2']" routerDirection="forward">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </section>
</ion-content>
