<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Random Programming Joke!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

    <!-- Display data here -->
    <section class="hero">
    <div class="jokepanel">
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>{{ setup }}</h2> <!-- Display the setup of the joke, Data Binding -->
          <h3>{{ punchline }}</h3> <!-- Display the punchline of the joke, Data Binding -->
        </ion-label>
      </ion-item>
    </ion-list>
    <!-- Save the joke to storage, calling the onSave method -->
    <ion-button (click) ="onSave()" id="open-toast">
      Save Joke
    </ion-button>
    </div>
    </section>
    <ion-toast trigger="open-toast" message="Joke saved!" [duration]="5000" position="top"></ion-toast>
</ion-content>
